
body {
    background-color: cornflowerblue;
    margin: 0;
}

/*  Targeting a class in CSS - every element with the class of header will recieve these CSS rules */
.header {
    background-color: darkgoldenrod;
}

.headerLink {
    float: center;
    padding: 330px;
    font-size: 15pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}