
body {
    background-color: cornflowerblue;
    margin: 0;
}

/*  Targeting a class in CSS - every element with the class of header will recieve these CSS rules */
.header {
    background-color: darkgoldenrod;
    overflow: hidden;
}


/* These CSS  rules will be applied when we hover over an anchor element inside of an element using the header class */
.header a:hover {
    background-color: lightgray;
    color: black;
}

.headerLink {
    padding: 14px 16px;
    font-size: 20pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: azure;
}


/* Target an ID in CSS - the element with the ID of homeLink and aboutLink will recieve CSS rules */
#homeLink {
    float: left;
}

#aboutLink {
    float: right;
}